body{
    background-image: url("../Images/pexels-pixabay-60013.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%; 
    height: auto;
    overflow: hidden;
    font-family: 'poppins', sans-serif;
}

#header{
    position: relative;
    left: 120px;
    margin-top: 20px;
    border-radius: 20rem;
    height: 4rem;
    width: 80rem;
    background-color: rgba(197, 190, 190, 0.781);
    display: flex;
    align-items: center;
}

#main{
    position: relative;
    left: 120px;
    margin-top: 20px;
    border-radius: 6rem;
    height: 30rem;
    width: 80rem;
    background-color: rgba(197, 190, 190, 0.781);
}

#footer{
    position: relative;
    left: 120px;
    margin-top: 20px;
    border-radius: 20rem;
    height: 4rem;
    width: 80rem;
    background-color: rgba(197, 190, 190, 0.781);
}

#logo{
    position : relative;
    left: 60px;
}

#navBar{
    position: relative;
    left: 770px;
    display: flex;
    gap: 15px;
}

#navBar a{
    color: black;
    justify-content: center;
    text-decoration: none;
    width: 80px;
}

#mediaDisplay{
    color:  rgba(76, 0, 0, 0.781);
}

#video{
    position: relative;
    left: 710px;
    top: 70px;
    width: 500px;
    border-radius: 23px;
    filter:brightness(0.7);
}

#text{
    padding: 20px;
    position: relative;
    width: 380px;
    left: 80px;
    top: -310px;
    background-color: rgba(166, 151, 151, 0.249);
    border-radius: 25px;
    font-size: 15px;
}

#socials{
    position: relative;
    top: -5px;
    left: 550px;
    width: 150px;

}

#heading{
    position: relative;
    left: 940px;
    top: 40px;
    font-size: 20px;
}

#credits{
    position: relative;
    left: 1100px;
    top: -55px;
}